<!DOCTYPE html>
<html>
  <head>
    <title>Mschat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_messages %>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-2 side-pane">
          Friend List
        </div>
        <div class="col-md-10 col-sm-10 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
