<!DOCTYPE html>
<html>
  <head>
    <title>Mschat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= flash_messages %>
    <br>
    <div class="container-fluid">
      <div class="row">
        <% if logged_in? %>
          <div class="col-md-2 col-sm-2 side-pane">
            <%= render 'shared/friendlist' %>
          </div>
        <% end %>
        <div class="col-md-10 col-sm-10 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
